@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<blockquote>
    <p align="justify">
        Many domestic workers work "under the table", that is, without being registered with social security and without any regularization of their work contracts. This is perhaps an everyday situation and yet absolutely illegal.
        What does this mean? That the worker does not pay contributions for his work, with the consequent damages for future benefits such as retirement, medical leave, permanent disabilities, maternity, paternity, that he will not have paid vacations or that perhaps his salary will not reach the minimum amount established by law.
        What about employers? Those who hire a person as a domestic employee without the corresponding legal proceedings face significant penalties of up to $10,000.
        Now that you are aware of what is right before the law, in this article from Legálitas we explain how the procedures for hiring a domestic employee should be.
        Translated with www.DeepL.com/Translator (free version)
    </p>


</blockquote>
<center>
    <img src="https://mujeresmas.mx/wp-content/uploads/2020/03/multi-400x240.png"
         align="top" alt="Una política tiene privacidad o póliza de privacidad es un documento legal que plantea cómo una organización retiene, procesa o maneja los datos del usuario y cliente."
         width="400"
         height="341"
         title="A policy has privacy or privacy policy is a legal document.">
</center>
<blockquote align="justify">

    <section>

        <h1>Registration with Social Security</h1>

        <p>
            The person who is going to hire an employee is the one who must process the registration with Social Security, which begins with an application before starting the work activity, except if services are provided for less than 60 hours per month in each household.
            In that case, it is the employee who, with the signature and proof of the employer, will be directly responsible for affiliation, registration, cancellation and variations of data, for formalizing the coverage of professional contingencies with the managing or collaborating entity of Social Security and for complying with the obligation to contribute
            During 2019, employers may benefit from a 20% reduction in employer contributions for common contingencies. This contribution reduction can be supplemented up to 45% with the bonus for large families.
            They do not apply in the case of domestic employees who provide services for less than 60 hours per month and assume the obligations of registration and contribution.
            Translated with www.DeepL.com/Translator (free version)
        </p>

        <div style="padding:12px;background-color: #a3e4d7 ;line-height:1.4;">

            <p>Sanctions for not registering with Social Security</p>
            <ul>
                Be very careful not to regularize the situation of employees, since not discharging the domestic employee is a serious infraction, as is discharging the worker after the deadline established following an inspection.

                The sanctions for this infraction are applied in the form of a fine that can range from $3126 to a maximum of $6250.
            </ul>

        </div>

        <h1>¿How are household employees paid?</h1>
        <p>
            Since 2019, with the increase in the SMI, there has been a change in the scale that determines the contribution bases for domestic employees, which goes from 206.00 to 1294.01.
            Of the 28.3 percent to be paid, 23.6 percent is paid by the employer and 4.7 percent by the worker. The employer must pay 1.50 percent of professional contingencies.
            Again, an exception is the case of workers who work less than 60 hours per month: they will be responsible for paying for common and professional contingencies.

            Translated with www.DeepL.com/Translator (free version)
        </p>


        <h1>Salary of domestic employees</h1>

        <p>
            The minimum salary of the household employees is the Minimum Interprofessional Salary or SMI, which in 2019 is 900 euros per month, full time and in 14 payments.

            If a worker works fewer hours, for example, part-time, his or her salary must be at least the proportional part of the SMI.

            In the case of domestic workers who receive room and board in the house where they work, part of that salary may be paid in kind, but never more than 30 percent of the total salary, and this payment in kind may not be deducted from the SMI in the monthly calculation.
        </p>

        <center>
            <img src="https://dnf.com.mx/wp-content/uploads/2018/03/trabajadores-hogar.png" alt="A policy has privacy or privacy policy is a legal document that states how an organization retains, processes, or handles user and customer data."
                 width="400"
                 height="341"
                 title="control sanitario.">
        </center>

        <p align="center">
            <input type="text" name="texto" value="It's Time to Make the Change !" readonly minlength="40" maxlength="25" size="25">
        </p>
    </section>
</blockquote>
