@{
    ViewData["Title"] = "Principal";
}

<h1>Welcome to your Web InHome System</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRkOyj0j6C0PmhQ1jF24NVMKLIHuye3wduXdA&usqp=CAU" class="d-block w-100" alt="Redoxon">
        </div>
        <div class="carousel-item">
            <img src="https://fontanerodeguardia.com/wp-content/uploads/2018/06/fontanero-urgente.jpg" class="d-block w-100" alt="Redoxon">
        </div>
        <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/proxy/FVptxXemnr6Q4mTScxeeAYvqEHzsbwfP5r9wCLOh3USkrq98xvEGSt8RezUtG_xofZPv15cHYmkqKyRQtzCo" class="d-block w-100" alt="Vita plus">
        </div>
    </div>
</div>
