@{
    ViewData["Title"] = "Principal";
}

<h1>Welcome to your Web InHome System</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://trucoslondres.com/wp-content/uploads/2017/04/ofc.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="https://elcapitalfinanciero.com/wp-content/uploads/2014/04/gente-oficina.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="https://www.hd.com.do/wp-content/uploads/2020/05/M365CO19_SMB_HPElite_093.jpg" class="d-block w-100" alt="s">
        </div>
    </div>
</div>
